@model TravelBug.Models.TravelBugModel.Excursion
@{
    ViewBag.Title = "GetAllExcursions";
}

<h2>GetAllExcursions</h2>

<div>
    @{

        var Excursions = (List<TravelBug.Models.TravelBugModel.Excursion>)ViewBag.Excursions;

        <table>
            <tr>
                <th>@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th>@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th>@Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th>@Html.LabelFor(model => model.Language.FirstOrDefault().Name_Language, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th>@Html.LabelFor(model => model.Photo.FirstOrDefault().Image, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            </tr>
            @for (int i = 0; i < Excursions.Count; i++)
            {

                <tr>
                    <td>@Html.ActionLink(Excursions[i].Title, "Index", "EditExcursion", new { excursionID = @Excursions[i].Id }, new { @class = "button alt small" })</td>
                    <td>@Excursions[i].Description</td>
                    <td>@Excursions[i].Time</td>
                    <td>
                        @if (@Excursions[i].Language.Count() != 0)
                        {
                            @Excursions[i].Language.ElementAt(0).Name_Language;
                        }
                    </td>
                    <td>
                        @if (Excursions[i].Photo.Count() != 0)
                        {
                            <img id="img" src="@Url.Action("GetUrlFromPictureOfExcursion", "ShowImage",
      new
      {
          excursionID = Excursions[i].Id
      })"
                                 alt="" />
                        }
                        else
                        {
                            <img id="img" src="~/images/Tour/camera-photo-min.png" alt="" style=" width: 10%; margin: 0 auto 0 auto;" />
                        }
                    </td>
                </tr>

            }
        </table>
    }
</div>
