@{
    ViewBag.Title = "GetAllExcursions";
}

<h2>GetAllExcursions</h2>

<div>
    @{

        var Excursions = (List<TravelBug.Models.TravelBugModel.Excursion>)ViewBag.Excursions;

        for (int i = 0; i < Excursions.Count; i++)
        {
            <div>
                @Excursions[i].Title
                <span>and</span>
                @Excursions[i].Description
                <span>and</span>
                @Excursions[i].Time
                <span>and</span>
                @if (@Excursions[i].Language.Count() != 0)
                {
                    @Excursions[i].Language.ElementAt(0).Name_Language;
                }
                <span>and</span>
                @if (Excursions[i].Photo.Count() != 0)
                {
                    <img id="img" src="@Url.Action("GetUrlFromPictureOfExcursion", "ShowImage",
      new
      {
          excursionID = Excursions[i].Id
      })"
                         alt="" />
                }
                else
                {
                    <img id="img" src="~/images/Tour/camera-photo-min.png" alt="" style=" width: 10%; margin: 0 auto 0 auto;" />
                }
            </div>
        }
    }
</div>
